<!DOCTYPE html>
<html>
<head>
  <title>React-HTML5-Theme</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
  <body>
    <div id="root"> </div>

    <script type="text/javascript" src="/build/bundle.js"></script>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
